<div class="container">
    <!-- TITULO -->
    <div class="centrado">
        <h2 class="text-color">Gif Gallery</h2>
    </div>
    <!-- FORMULARIO -->
    <form [formGroup]="gifForm" (ngSubmit)="createGif()">
        <div class="row centrado">
            <div class="input-group col-5">
                <input type="text" class="form-control" placeholder="GIF URL">
                <button class="btn btn-outline-success" type="submit">Agregar</button>
            </div>
        </div>
    </form>
    <!-- LISTA -->
    <div class="row centrado">
        <div class="col-7" *ngIf="Gif.length>0">
            <div class="row" *ngFor="let gif of Gif;let i=index">
                <div class="col-1 mrg-top" style="margin-left:150px;margin-top: 25px;">
                    <img src="{{gif.url}}" alt="">
                    <button class="btn btn btn-primary" style="margin-left:80px; margin-top: 12px;">Eliminar</button>
                </div>
            </div><br>
        </div>
        <p *ngIf="Gif.length <= 0" class="no-gifs">
            No posee gifs
        </p>
    </div>
    <ng-template #vacio>
        <div class="row centrado">
            <div class="centrado-sin-margin">
                <p>No posee gifs</p>
            </div>
        </div>
    </ng-template>
</div>